*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.header-centered{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary button{
    background-color: rgb(0, 97, 251);
    color: white;
    border: none;
    padding: 8px 10px;
}

/* general */

header{
    background-color: rgb(179, 208, 230);
    height: 490px;
}


nav{
    display: flex;
    background-color: white;
}

nav .nav-inner{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    gap: 20px;
    padding: 0 20px;
}

nav .nav-inner .logo-image img{
    width: 90%;
}

nav .nav-inner .link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav .nav-inner .link ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

nav .nav-inner .link ul a{
    color: rgb(85, 85, 85);
    font-size: 12px;
    text-decoration: none;
}

header .header-jumbo{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 30px;
}

header .header-jumbo .jumbo-title{
    font-size: 30px;
}

header .header-jumbo .jumbo-content .jumbo-side{
    display: flex;
    justify-content: space-between;
}

header .header-jumbo .left-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
}

header .header-jumbo .right-side{
    display: flex;  
    max-width: 65%;
}

header .header-jumbo .jumbo-content .jumbo-side .left-side .paragraph p,
header .header-jumbo .jumbo-content .jumbo-side .left-side .undo-text{
    font-size: 11px;
    line-height: 1.3;
    color: rgb(85, 85, 85);
}

header .header-jumbo .jumbo-side .right-side img{
    width: 100%;
}

header .header-jumbo .jumbo-side .left-side .arrow-down{
    padding-top: 26px;
}

header .header-jumbo .jumbo-side .left-side .arrow-down i{
    font-size: 30px;
    font-weight: bold;
}