*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.header-centered,
.footer-centered{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.section-main-centered{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary button{
    background-color: rgb(0, 97, 251);
    color: white;
    border: none;
    padding: 8px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-primary button:hover{
    background-color:rgba(0, 97, 251, 0.7);
}

.btn-secondary button{
    cursor: pointer;
}
/* general */

/* start header */
header{
    background-color: rgb(179, 208, 230);
}

/* start navbar */
nav{
    display: flex;
    background-color: white;
    position: fixed;
    width: 100%;
}

nav .nav-inner{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    gap: 20px;
    padding: 0 20px;
}

nav .nav-inner .logo-image img{
    width: 90%;
}

nav .nav-inner .link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

nav .nav-inner .link .left-link,
nav .nav-inner .link .left-link ul li a,
nav .nav-inner .link .right-link,
nav .nav-inner .link .right-link ul li a{
    height: 100%;
}

.left-link ul li,
.right-link ul li{
    height: 100%;
    display: flex;
    align-items: center;
}

nav .nav-inner .link ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    height: 100%;
}

nav .nav-inner .link ul a{
    color: rgb(85, 85, 85);
    font-size: 12px;
    text-decoration: none;
}

.link ul li:hover{
    border-bottom: 3px solid rgb(173, 173, 173);
    border-top: 3px solid transparent;
}
/* end Navbar */

/* start Jumbotron */
header .header-jumbo{
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    gap: 40px;
}

header .header-jumbo .jumbo-title h1{
    font-size: 52px;
    font-weight: 800;
}

header .header-jumbo .jumbo-content .jumbo-side{
    display: flex;
    justify-content: space-between;
}

header .header-jumbo .left-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
}

header .header-jumbo .right-side{
    display: flex;  
    max-width: 70%;
}

header .header-jumbo .jumbo-content .jumbo-side .left-side .paragraph p,
header .header-jumbo .jumbo-content .jumbo-side .left-side .undo-text{
    font-size: 12px;
    line-height: 1.4;
    color: rgb(85, 85, 85);
}

header .header-jumbo .jumbo-side .right-side img{
    width: 100%;
    margin-bottom: -50px;
}

header .header-jumbo .jumbo-side .left-side .arrow-down{
    padding-top: 50px;
}

header .header-jumbo .jumbo-side .left-side .arrow-down a{
    color: black;
}

header .header-jumbo .jumbo-side .left-side .arrow-down i{
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}


/* End Jumbotron */

/* start Main */

main{
    margin-top: 110px;
}

main .section-title{
    padding-bottom: 28px;
}

main .section-title h2{
    font-size: 30px;
}

main .choose-billing{
    display: flex;
    font-size: 12px;
    color: rgb(85, 85, 85);
    padding: 30px 0 40px;
    gap: 4px;
}
main .choose-billing .circle-1, .circle-2{
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

main .choose-billing span{
    margin-right: 30px;
}

main .choose-billing .month .circle-1{
    border: 4px solid rgb(53, 87, 255);
}

main .choose-billing .year .circle-2{
    border: 2px solid rgb(215, 215, 215);
}

main .row{
    display: flex;
    gap: 40px;
}

main .row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: calc(100% / 3);
    border: 1px solid rgb(215, 215, 215);
    padding: 0 0 40px;
    margin-bottom: 40px;
}

main .row .col .col-row-up{
    width: 100%;
    text-align: center;
}

main .row .col .col-row-up .col-title{
    border-bottom: 1px solid rgb(215, 215, 215);
    font-size: 11px;
    padding: 6px 0;
    margin-bottom: 20px;
    color: rgb(85, 85, 85);
}

main .row .col hr{
    width: 20%;
    height: 1px;
    border: 1px solid rgb(215, 215, 215);
}

main .row .col .col-row-center{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 18px 0;
}

main .row .col .col-row-center .btn-primary button{
    width: 100%;
}


main .row .col .col-row-center .col-row-center-up{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

main .row .col .col-row-center .col-row-center-up .billing-price,
main .row .col .col-row-center .col-row-center-up .billing-price-interval{
    font-size: 11px;
}

main .row .col .col-row-center .col-row-center-up .billing-price-interval{
    color: rgb(151, 151, 151);
}

main .row .col .col-row-center .col-row-center-down{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .row .col .col-row-center .col-row-center-down .link-buy-now{
    font-size: 11px;
}

main .row .col .col-row-center .col-row-center-down .link-buy-now a{
    padding-left: 4px;
}

hr{
    width: 20%;
    height: 1px solid rgb(215, 215, 215);
}

main .row .col .col-row-down{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 18px;
}

main .row .col .col-row-down-title strong{
    font-size: 11px;
}

main .row .col .col-row-center-down .content,
main .row .col .col-row-down .content{
    display: flex;
    font-size: 11px;
    gap: 6px;
    color: rgb(75, 75, 75);
}

.fa-check{
    color: rgb(0, 91, 251);
}

main .row-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(215, 215, 215);
    margin-bottom: 100px;
}

.fa-building{
    padding-right: 6px;
}

main .row-2 .row-2-content .row-2-content-left{
    display: flex;
    flex-direction: column;
    padding: 0 14px 24px;
}

main .row-2 .row-2-content .row-2-content-left p{
    font-size: 11px;
}

main .row-2 .row-title{
    border-bottom: 1px solid rgb(215, 215, 215);
    padding: 6px 0;
    text-align: center;
    font-size: 11px;
    color: rgb(85, 85, 85);
}

main .row-2 .row-2-content{
    display: flex;
}

main .row-2 .row-2-content .row-2-content-left p{
    padding: 6px 0;
}

main .row-2 .row-2-content .row-2-content-left p:last-child{
    padding: 30px 0 0;
    color: rgb(85, 85, 85);
}

main .row-2-content .row-2-content-right{
    width: 30%;
    padding: 0 18px;
}
/* Start section Partner Contact */

main .partner-contact {
    display: flex;
    margin-bottom: 100px;
    gap: 40px;
}

main .partner-contact .partner-contact-left-side{
    width: 70%;
}

main .partner-contact .partner-contact-right-side{
    width: 30%;
}

main .partner-contact .image img{
    width: 100%;
}

main .partner-contact .partner-contact-right-side .right-side-title{
    padding: 30px 0;
}

main .partner-contact .partner-contact-right-side p{
    font-size: 12px;
    color: rgb(75, 75, 75);
    line-height: 1.3;
}

main .partner-contact .partner-contact-right-side .btn-secondary button{
    margin-top: 30px;
    padding: 6px 10px;
    border: 1px solid rgb(215, 215, 215);
    background-color: transparent;
}
/* End section Partner Contact */

/* start section Business operation */
main .dropbox-business-operation{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .dropbox-business-operation h2{
    font-size: 28px;
}

main .dropbox-business-operation .card-row{
    display: flex;
    width: 100%;
    gap: 30px;
    padding: 30px 0;
}

main .dropbox-business-operation .card-row .card{
    width: calc(100% / 3);
}

main .dropbox-business-operation .card-image{
    width: 100%;
}

main .dropbox-business-operation .card-image img{
    width: 100%;
}

main .dropbox-business-operation .card-row .card .card-details .card-details-title{
    padding: 20px 0;
}

main .dropbox-business-operation .card-row .card .card-details .card-details-paragraph p{
    font-size: 12px;
    color: rgb(75, 75, 75);
}

.company-customers h2{
    padding: 80px 0 40px;
    font-size: 28px;
    width: 60%;
}

.company-customers a{
    font-size: 12px;
}
/* end section Business operation */

/* start customers logo */

main .customers-logo{
    margin-top: 100px;
    margin-bottom: 100px;
}

main .customers-logo .customers-logo-row{
    display: flex;
    height: calc(100vw / 3);
}

main .customers-logo .customers-logo-row .customers-logo-left,
main .customers-logo .customers-logo-right{
    display: flex;
    flex-flow: wrap;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

main .customers-logo .customers-logo-row .logo-square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    cursor: pointer;
}

main .customers-logo .customers-logo-row .logo-square img{
    width: 60%;
    filter: invert(1);
}

main .customers-logo .customers-logo-row .customers-logo-left .logo-square:nth-child(1){
    background-color: rgb(161, 211, 158);
    border: 12px solid rgb(199, 244, 199);
}

main .customers-logo .customers-logo-row .customers-logo-left .logo-square:nth-child(2){
    background-color: rgb(98, 8, 42);
}

main .customers-logo .customers-logo-row .customers-logo-left .logo-square:nth-child(3){
    background-color: rgb(0, 147, 204);
}

main .customers-logo .customers-logo-row .customers-logo-left .logo-square:nth-child(4){
    background-color: rgb(255, 28, 28);
}

main .customers-logo .customers-logo-row .customers-logo-center{
    background-color: rgb(245, 245, 245);
    width: calc(100vw / 3);
    padding: 36px 36px 0;
    overflow-y: auto;
}

main .customers-logo .customers-logo-row .customers-logo-center .logo-center img{
    width: 50%; 
    margin-bottom: 30px;   
}

.customers-logo hr{
    height: 2px;
    border: 1px solid rgb(215, 215, 215);
}

main .customers-logo .customers-logo-row .customers-logo-center .logo-center-paragraph p{
    margin-top: 30px;
    font-size: 12px;
    padding-bottom: 40px;
    color: rgb(85, 85, 85);
}

main .customers-logo .customers-logo-row .customers-logo-right .logo-square:nth-child(1){
    background-color: rgb(210, 0, 29);
}

main .customers-logo .customers-logo-row .customers-logo-right .logo-square:nth-child(2){
    background-color: rgb(179, 208, 230);
}

main .customers-logo .customers-logo-row .customers-logo-right .logo-square:nth-child(3){
    background-color: rgb(11, 36, 127);
}

main .customers-logo .customers-logo-row .customers-logo-right .logo-square:nth-child(4){
    background-color: rgb(255, 216, 66);
}

main .customers-logo .customers-logo-row-down:nth-child(2){
    background-color: rgb(179, 208, 230);
}

main .customers-logo .customers-logo-row-down .free-trial-link{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

main .customers-logo .customers-logo-row-down .free-trial-link-title h2{
    color: rgb(98, 8, 42);
}


main .customers-logo .customers-logo-row-down .free-trial-link .btn-secondary button{
    padding: 6px 10px;
    background-color: white;
    border: none;
}

main .customers-logo .customers-logo-row .customers-logo-left .logo-square:nth-child(2):hover{
    border: 12px solid rgb(158, 30, 79);
}

main .customers-logo .customers-logo-row .customers-logo-left .logo-square:nth-child(3):hover{
    border: 12px solid rgb(80, 190, 234);
}

main .customers-logo .customers-logo-row .customers-logo-left .logo-square:nth-child(4):hover{
    border: 12px solid rgb(250, 101, 101);
}

main .customers-logo .customers-logo-row .customers-logo-right .logo-square:nth-child(1):hover{
    border: 12px solid rgb(234, 66, 88);
}

main .customers-logo .customers-logo-row .customers-logo-right .logo-square:nth-child(2):hover{
    border: 12px solid rgb(212, 224, 233);
}

main .customers-logo .customers-logo-row .customers-logo-right .logo-square:nth-child(3):hover{
    border: 12px solid rgb(65, 87, 164);
}

main .customers-logo .customers-logo-row .customers-logo-right .logo-square:nth-child(4):hover{
    border: 12px solid rgb(248, 231, 163);
}
/* end customers logo  */


/* start Customers Questions */

main .customers-questions h2{
    padding-bottom: 40px;
}

main .customers-questions .questions-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(215, 215, 215);
    padding: 30px 0;
    cursor: pointer;
}

main .customers-questions .questions-content:last-child{
    border-bottom: 1px solid rgb(215, 215, 215);
}

main .customers-questions .questions-content .questions-content-text p{
    font-size: 13px;
    font-weight: bold;
    color: rgb(75, 75, 75);
}

.content-hidden{
    padding: 10px 0;
    display: none;
}

.questions-content:hover .content-hidden{
    display: block;
}

main .customers-questions .questions-content .questions-content-expand{
    padding-right: 30px;
}
/* end Customers Questions */

/* start Footer */
footer{
    display: flex;
    margin-top: 100px;
    background-color: black;
    
}

footer a,
footer li{
    color: white;
    text-decoration: none;
    font-size: 11px;
}

footer .footer-row-up .footer-col li:first-child{
    font-size: 16px;
    padding-bottom: 10px;
}

footer .footer-row-up{
    display: flex;
    padding: 60px 0;
    gap: 80px;
}

footer .footer-row-up .footer-col{
    display: flex;
    flex-direction: column;
}

footer .footer-col ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

footer hr{
    width: 10%;
    border: 1px solid rgb(215, 215, 215);
}

footer .footer-row-down{
    padding: 30px 0;
}

footer .footer-row-down .languages {
    color: rgb(215, 215, 215);
    font-size: 12px;
    cursor: pointer;
}

footer .footer-row-down .languages i{
    padding-right: 8px;
}

footer a:hover{
    text-decoration: underline;
}
/* end Footer */




